<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>

  <div class="container">
    <div class="bg1">
      <div class="header">
      <h2>home page</h2>
  <ul class="headul">
    <li><a class="homebutton" href="/logout"> log out</a></li>  
    <li> <a class="homebutton" href="/profilechange"> change profile</a></li>
  </ul>
      
      
      </div>
      <div class="homediv">
        <ul class="allli">
       
          <li> <a class="homebutton" href="/tictactoe">tic tac toe</a></li>
          <li> <a class="homebutton" href="/kuku"> kuku qube</a></li>
         <li><a class="homebutton" href="/excel"> show excel  </a></li> 
         <li> <a class="homebutton" href="/searching"> show search </a></li> 
         <li> <a class="homebutton" href="/form"> show form </a></li> 
         <li> <a class="homebutton" href="/:page"> show pagination </a></li> 
         <li><a class="homebutton" href="http://127.0.0.1:5501/insurance_design.html">insurance design</a></li>
         <li> <a class="homebutton" href="/combobox"> show dependent combo boxes </a></li> 
        </ul>
        
       
      </div>






    </div>

  </div>

</body>

</html>