<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
    <div class="container">
        <div class="bg">
            <form action="/login" method="post">
                <div>
                    <h2>welcome back !</h2>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Enter Email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
                <div>
                    <input type="submit" value="Login">
                   
                </div>

            </form>
            <p>alredy have any account <a href="/login">login here</a></p>
        </div>
    </div>
</body>

</html>