<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>

</head>
<link rel="stylesheet" href="/css/main.css">
<style>

</style>

<body>
    <section>

        <div class="container">
            <div class="bg">
                <form action="/register" method="post">
                    <div class="logo">
                        <img src="/img/logo.svg" alt="">
                        <h2>welcome back !</h2>
                    </div>
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Enter Name">
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Enter Email">
                    </div>

                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Enter Password">
                    </div>
                    <div>
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" name="cpassword" placeholder="Re Enter Password">
                    </div>
                    <div>
                        <input type="submit" value="Register">
                        <!-- <button> <a href="/login">login</a></button> -->'
                        <p>don't have any account <a href="/login">sign up here</a></p>
                    </div>
                </form>
            </div>

   
                <img src="/img/bottom-logo.png" class="logo2" alt="">
            
        </div>
    

    </section>

</body>

</html>