* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
}

header a {
    float: left;
    color: #183b56;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}


#logo {
    height: 35px;
    position: absolute;
    left: 40px;
    top: 10px;
    align-content: center;

    margin-top: 20px;

}


.nav {
    float: right;

    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

li {
    padding: 10px;
}


#logo {
    font-size: 2rem;
    margin-left: 9rem;
}

.btn {
    border: 2px solid blue;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}


a {
    font-weight: bold;
    color: rgb(217, 217, 217);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.getconsult {
    font-weight: bold;
    color: rgb(217, 217, 217);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header {
    height: 80px;
    padding-left: 400px;
}

.banner {
    height: 700px;
    width: 700px;
    border-radius: 5px;

}

.row1 {
    display: flex;

}

.container {
    width: 1170px;
    padding: 16px 16px;
    margin: 0 auto;
    border-left: 1px dotted red;
    border-right: 1px dotted red;

}

.bannertext {
    margin-left: 30px;
}

.column2 {
    margin: 40px;
}

.bannertext h1 {
    font-size: 65px;
}

.bannertext p {
    font-size: 20px;
    padding-right: 150px;
    justify-content: space-around;

}

.fourbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.box {
    width: 45%;
    margin: 0px;
}

.img2 {
    margin-top: 10px;
    width: 60px;
    height: 40px;
    padding-right: 30px;
}

.content {
    display: flex;
}

.para {
    color: darkblue;
    font-weight: bolder;
}

.a {
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
}

.btn2 {

    margin-top: 50px;
    background-color: blue;
    border-radius: 10px;
}

.service {
    text-align: center;
    margin-left: 30px;
    width: 1000px;
    margin-top: 50px;
}

.service p {
    font-size: 20px;
}

.service h2 {
    font-size: 35px;
}

.rightmark {
    display: flex;
    margin-top: 35px;



}

.rightmarktext {
    display: flex;
    margin: 30px;
    justify-content: space-around;

}

.rightmarktext p {
    font-size: 20px;
}


.mark {
    height: 40px;
    width: 40px;
    margin: 10px;

}

.column3 {
    width: 33.33%;
   border: 2px solid red;
    padding: 30px;
    margin-bottom: 30px;
}
.column31{
    padding: 20px;
    border: 2px solid rgb(196, 105, 105);
}

.row3 {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.columntext h3 {
    font-size: 30px;
}

.columntext p {
    font-size: 20px;
}

.columnimg {
    width: 50px;
    height: 50px;

}

.learnmore {
    color: blue;
}

.child {
    background-color: rgb(229, 160, 218);
    height: 500px;
    border-radius: 0 0 50% 40%/0 0 30% 40%;
    
}

.author img {
    width: 20px;
}

.author h4 {
    padding-right: 10px;
}

.author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.p2 {
    font-size: 1.5rem;
}

.message {
    background-color: white;
    width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;

    height: 450px;
}

.qu {
    height: 50px;
    width: 50px;
}

.message i {
    color: rgb(34, 177, 34);
    font-size: 2rem;
}

.row6 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    

}
.column61{
    padding: 20px;
    border: 2px solid rgb(196, 105, 105);
}

.column6 {
    width: 33.33%;
   border: 2px solid red;
    padding: 30px;
   
}

.green {
    color: darkgreen;
}

.blue {
    color: rgb(94, 94, 106);
}

h1,
h2,
h3 {
    color: rgb(67, 67, 156);
}

.row2 {
    display: flex;
    justify-content: space-between;

}

.column21 {
    background-image: url(/assets/pink.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    width: 700px;
    background-size: cover;
    border-radius: 10px;

}

.column22 {
    background-image: url(/assets/women.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    width: 700px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;

}
.column21 p{
    font-weight: bold;
    color: #fffefe;
    padding-left: 80px;
    padding-top: 350px;
    font-size: 30px;
    padding-bottom: 90px;
    padding-right: 60px;
}
.column22 p{
    font-weight: bold;
    color: #fffefe;
    padding-left: 80px;
    padding-top: 350px;
    font-size: 30px;
    padding-bottom: 90px;
    padding-right: 60px;
}
.star{
    display: flex;
    height: 30px;
    width: 30px;
}
.column41{
width:20%
}
.person {
    display: flex;
}
.person1{

height: 40px;
width: 40px;
}
  .person p{
    margin: 10px;
  }
  .verify{
    display: flex;
  }
.verifyed{
    height: 40px;
    width: 40px;
}
.row4{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
.column41{
     
    border: 2px solid red;
   
    margin-bottom: 30px;
    
}
.column42{
    padding: 10px;
    border: 2px solid rgb(196, 105, 105);
}